<p-dialog 
    header="Edit value" 
    [(visible)]="displayPrompt" 
    [modal]="true" 
    [closable]="false" 
    [responsive]="true" 
    [style]="{ width: '300px' }">
    
  <div class="p-fluid">
    <div class="field">
      <label for="userInput">Your Input</label>
      <input type="text" pInputText [(ngModel)]="userInput" />
    </div>
  </div>

  <p-footer>
    <p-button label="Ok" (click)="handleOk()"></p-button>
    <p-button label="Cancel" (click)="handleCancel()"></p-button>
  </p-footer>
</p-dialog>

<!--- dialog  -->

<label class="id-label">{{ "ID: " + buoyId }}</label>
<div className="search-container">
    <i class="pi pi-search"></i>
  <input type="text" pInputText [(ngModel)]="searchBarText" />
</div>
<div className="label-container">
    <label class="date-of-placement-label">{{ dateOfPlacementText }}</label>
    <label class="location-name-label">{{ locationNameText }}</label>
</div>
<div class="scrollable-container">
  <div class="grid-container">
    <app-sensor-border-values (editInitiated)="showPrompt()"
    *ngFor="let borderValues of borderValuesComponentsData" [data]="borderValues">
    </app-sensor-border-values>
  </div>
</div>

<!--- The base webpage -->