<div class="circle-buttons-container">
  <button class="circle-button" id="schermbezoeken" (click)="onSchermbezoekenButtonClicked()">🖥️</button>
  <button class="circle-button" id="sensoren" (click)="onSensorenButtonClicked()">📟</button>
  <button class="circle-button" id="grenswaarden" (click)="onGrenswaardenButtonClicked()">⚖</button>
  <button class="circle-button" id="metingen" (click)="onMetingenButtonClicked()">️🎛️</button>
  <button class="circle-button" id="queries_uitvoeren" (click)="onQueriesUitvoerenButtonClicked()">💽</button>
</div>

<div class="hist-stats-and-graph-container">
  <app-buoys-map></app-buoys-map>
  <app-buoy-statistics></app-buoy-statistics>
</div>

<div class="section-spacer"></div>

<div class="scroll-container">
    <div class="scroll-content">
      <app-measurement-type-circle 
      *ngFor="let data of componentsData"
      [measurementTypeEmojiText]="data?.measurementTypeEmojiText ?? '❌' "
      [measurementText]="data?.measurementText ?? '∅' ">
      </app-measurement-type-circle>
      <app-add-circle/>
    </div>
</div>

<app-dashboard-serial-number></app-dashboard-serial-number>